body {
    background: url(../img/pattern.png) repeat;
    font: 62.5% 'Montserrat', sans-serif;
    margin: 0;
}

#accordion {
    background-color: #222932;
    width: 300px;
    margin: 50px auto;
    border: 1px solid #181e26;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px rgba(53, 58, 70, 0.95);
    -moz-box-shadow:    0px 0px 8px rgba(53, 58, 70, 0.95);
    box-shadow:         0px 0px 8px rgba(53, 58, 70, 0.95);
}

#accordion h2 {
    background-color: #353a46; /* Fallback for Internet Explorer */
    background: linear-gradient(#3b404c, #353a46) repeat;
    border-top: 1px solid #181e26;
    color: #c9d1e3;
    cursor: pointer;
    font-size: 1.6em;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    margin: 0;
    text-shadow: 1px 2px 2px #222932;
}

#accordion h2:first-child {
    border-top: none;
}

#accordion h2 span {
    padding: 0 35px;
}

#accordion h2 strong {
    background-color: #606676;
    border: 1px solid #181e26;
    border-radius: 5px;
    font-size: 0.8em;
    float: right;
    margin: 8px 10px 0 0;
    padding: 5px 10px;
    line-height: 12px;
    height: 12px;
}

#accordion #profile span {
    background: url(../img/ico-profile.png) no-repeat 10px center;
}

#accordion #messages span {
    background: url(../img/ico-messages.png) no-repeat 10px center;
}

#accordion #settings span {
    background: url(../img/ico-settings.png) no-repeat 10px center;
}

#accordion ul {
    margin: 10px 15px;
    padding: 0;
    list-style: none;
}

#accordion ul li {
    background: url(../img/arrow.png) no-repeat left center;
    color: #798ea1;
    font-size: 1.3em;
    padding: 5px 0 5px 20px;
}

#accordion .toggle-active {
    border-bottom: 1px solid #181e26;
}

.closed {
    display: none;
}